[Unit]
Description=ASIO Tracker
After=network.target

[Service]
User=mahat
WorkingDirectory=/home/mahat/ASIO
Environment=PATH=/home/mahat/webrtc_venv/bin:/home/mahat/.local/bin:/usr/local/bin:/usr/bin:/bin
ExecStart=/home/mahat/webrtc_venv/bin/python3 tracker-so.py --mode live
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
